In [109]:
import sqlite3
import pandas as pd

In [86]:
# Establecer la conexi√≥n
conexion = sqlite3.connect('Basedatosparte2.db')

# Crear un cursor para ejecutar comandos SQL
cursor = conexion.cursor()

In [87]:
tabla_proveedores = """
CREATE TABLE IF NOT EXISTS Proveedores (
    CodigoProveedor INT PRIMARY KEY,
    Nombre VARCHAR(100),
    Direccion VARCHAR(200),
    Ciudad VARCHAR(100),
    Provincia VARCHAR(100)
);"""

In [88]:
cursor.execute(tabla_proveedores)

In [89]:
tabla_categorias = '''
CREATE TABLE IF NOT EXISTS Categorias (
    CodigoCategoria INT PRIMARY KEY,
    Nombre VARCHAR(100)
);
'''

In [90]:
cursor.execute(tabla_categorias)

In [91]:
tabla_piezas = '''
CREATE TABLE IF NOT EXISTS Piezas (
    CodigoPieza INT PRIMARY KEY,
    Nombre VARCHAR(100),
    Color VARCHAR(50),
    Precio DECIMAL(10,2),
    CodigoCategoria INT,
    FOREIGN KEY (CodigoCategoria) REFERENCES Categorias(CodigoCategoria)
    );
'''

In [92]:
cursor.execute(tabla_piezas)

In [93]:
tabla_suministros = """
CREATE TABLE IF NOT EXISTS Suministros (
CodigoProveedor INT,
CodigoPieza INT,
Fecha DATE,
Cantidad INT,
PRIMARY KEY (CodigoProveedor, CodigoPieza, Fecha),
FOREIGN KEY (CodigoProveedor) REFERENCES Proveedores(CodigoProveedor),
FOREIGN KEY (CodigoPieza) REFERENCES Piezas(CodigoPieza)
);
"""

In [94]:
cursor.execute(tabla_suministros)

In [95]:
# Creo los datos de dos proveedores 

proveedor_1 = [(1, 'Proveedor Garcia', 'Calle Tramontana 88', 'Mahon', 'Baleares')]
proveedor_2 = [(2, 'Proveedor Perez', 'Calle Marina 56', 'CABA', 'Buenos Aires')]

In [113]:
# Preparo al proveedor para agregar en la tabla 
cursor.executemany("INSERT INTO Proveedores (CodigoProveedor, Nombre, Direccion, Ciudad, Provincia) VALUES (?,?,?,?,?)", proveedor_2)

In [114]:
# Confirmo la operacion con el commit. 
conexion.commit()

In [115]:
# Consulto si la base de datos tiene los objetos que agregue. 

cursor.execute("SELECT * FROM Proveedores")
proveedores = cursor.fetchall()

In [116]:
# Mostrar los datos
print("Proveedores registrados:")
for proveedor in proveedores:
    print(proveedor)

Proveedores registrados:
(1, 'Proveedor Garcia', 'Calle Tramontana 88', 'Mahon', 'Baleares')
(2, 'Proveedor Perez', 'Calle Marina 56', 'CABA', 'Buenos Aires')

In [118]:
# Agrego una categoria 
categoria_1 = [(1,"Electronica")]
categoria_2 = [(2,"Muebles")]

cursor.executemany("INSERT INTO Categorias (CodigoCategoria, Nombre) VALUES (?,?)", categoria_2)

In [119]:
cursor.execute("SELECT * FROM Categorias")
categorias = cursor.fetchall()

In [120]:
print("Categorias registradas:")
for categoria in categorias:
    print(categoria)

Categorias registradas:
(1, 'Electronica')
(2, 'Muebles')

In [121]:
# Agrego una pieza 
pieza1 = [(101, 'Resistor', 'Rojo', 0.5, 1)]
cursor.executemany("INSERT INTO Piezas (CodigoPieza, Nombre, Color, Precio, CodigoCategoria) VALUES (?,?,?,?,?)", pieza1)

IntegrityError: UNIQUE constraint failed: Piezas.CodigoPieza

In [122]:
cursor.execute("SELECT * FROM Piezas")
piezas = cursor.fetchall()

In [123]:
print("Piezas registradas:")
for pieza in piezas:
    print(pieza)

Piezas registradas:
(101, 'Resistor', 'Rojo', 0.5, 1)

In [124]:
# Agrego los datos del suministro para inventario. 
suministro1 = [(1, 101, '2024-12-01', 100)]

cursor.executemany("INSERT INTO Suministros (CodigoProveedor, CodigoPieza, Fecha, Cantidad) VALUES (?,?,?,?)", suministro1)

In [125]:
cursor.execute("SELECT * FROM Suministros")
suministros = cursor.fetchall()

In [126]:
print("Suministros registrados:")
for suministro in suministros:
    print(suministro)

Suministros registrados:
(1, 101, '2024-12-01', 100)

In [131]:

def sql_query(query):    
    cursor.execute(query) 
    ans = cursor.fetchall()
    names = [description[0] for description in cursor.description]
    return pd.DataFrame(ans,columns=names)

In [132]:
query = '''
SELECT * FROM Proveedores'''

sql_query(query)

   CodigoProveedor            Nombre            Direccion Ciudad     Provincia
0                1  Proveedor Garcia  Calle Tramontana 88  Mahon      Baleares
1                2   Proveedor Perez      Calle Marina 56   CABA  Buenos Aires

In [ ]:
conexion.close()